{% extends 'base.html' %}
{% block first_line %}
{% if first_line == '1'%}
{{block.super}}
{% endif%}
{% endblock first_line %}

	{% block second_line %}
	{{block.super}}
	{% endblock second_line %}

	{% block left%}
	{% if first_line == '1'%}
	{{block.super}}
<script> $(function(){
	    $('.left_menu_con ul li').eq(1).children().addClass('active')})</script>
	{% endif%}
	{% endblock left%}
{%block body%}

		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				{% for order in main_detail %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{order.main.order_time}}</li>
					<li class="col02">订单号：{{order.main.order_serial}}</li>
					<li class="col02 stress">
						{% if order.main.state == 0 %}
						没付款
						{% elif order.main.state == 1 %}
						已付款
						{% endif %}
					</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>

						<tr>

							<td width="55%">
								{% for suborder in order.detail%}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/media/{{suborder.goods.pic}}"></li>
									<li class="col02">{{suborder.goods.title}}<em>{{suborder.price}}元/{{suborder.goods.unit}}</em></li>
									<li class="col03">{{suborder.count}}</li>
									<li class="col04">{{suborder.tot_one}}元</li>
								</ul>
								{% endfor %}
							</td>

							<td width="15%">{{order.main.total}}元</td>
							<td width="15%">
								{%if order.main.state == 0 %}
								待付款
								{% elif order.main.state == 1 %}
								已付款
								{%endif%}
							</td>
							<td width="15%">
								<a href="#" class="oper_btn">
								{%if order.main.state == 0 %}
								去付款
								{% elif order.main.state == 1 %}
								查看物流
								{%endif%}
							</a></td>
						</tr>

					</tbody>
				</table>

				{% endfor %}


				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>


{% endblock body%}