{%extends 'base.html'%}
{%block first_line%}
{%if first_line == '1'%}
{{block.super}}
{%endif%}
{%endblock first_line%}

	{% block second_line %}
	{{block.super}}
	{% endblock second_line %}

	{% block left%}
	{% if first_line == '1'%}
	{{block.super}}
<script> $(function(){
	    $('.left_menu_con ul li').eq(2).children().addClass('active')})</script>
	{% endif%}
	{% endblock left%}

{% block body %}
<script src="/static/js/csrf_token.js"></script>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
						<dd>{{user.name}}&nbsp;详细：{{user.address}}&nbsp;电话：{{user.phone}}&nbsp;邮编：{{user.code}}</dd>
					</dl>					
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form id="post_form"  method="post" action="/center/post_site/">
						{%csrf_token%}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="receive_man" id="receive_man" value="{{user.name}}">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="receive_area" id="receive_area" >{{user.address}}</textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="receive_code" id="receive_code" value="{{user.code}}">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="receive_phone" id="receive_phone" value="{{user.phone}}">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>
<script>
	$(function(){
	    $('#post_form').submit(function(){
	        rman = $('#receive_man').val()
			rarea = $('#receive_area').val()
			rcode = $('#receive_code').val()
			rphone = $('#receive_phone').val()
			list = {'rman':rman, 'rarea':rarea, 'rcode':rcode, 'rphone':rphone}
			$.post('/center/post_site/',list, function(dat){
			    if(dat.res == 'ok')
			    $('.site_con dl dd').html(rman +'&nbsp;' +rarea+'&nbsp;' +rphone)
			})
			return false

		})
	})
</script>

{%endblock body%}
