{% extends 'index/base.html' %}
{% block head%}
	{{block.super}}
{% endblock head%}

{% block first_line %}
	{% if first_line == '1'%}
	{{block.super}}
	{% endif %}
{% endblock first_line %}


	{% block second_line %}
	{{block.super}}

	{% endblock second_line %}

{% block left%}
{{block.super}}
{% endblock left%}
    {% block body%}



	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			{% block navlist%}
			{{block.super}}
			{% endblock navlist%}
		</div>
	</div>

	<div class="center_con clearfix">
		{% block nav %}
		{{block.super}}
		{% endblock nav %}
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>
	{% for dic in list1%}
		<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{forloop.counter}}">{{dic.t1.kinds}}</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for goods in dic.clicklist%}
				<a href="/list/{{dic.t1.id}}/1/">{{goods.title| truncatechars:10}}</a>
				{%endfor%}

			</div>
			<a href="/list/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner0{{forloop.counter}}.jpg"></div>
			<ul class="goods_list fl">
				{% for goods in dic.newlist%}
				<li>
					<h4><a href="/list/{{dic.t1.id}}/1/">{{goods.title}}</a></h4>
					<a href="/list/{{dic.t1.id}}/1/"><img src="/static/media/{{goods.pic}}"></a>
					<div class="prize">¥ {{goods.price}}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}




	<script type="text/javascript" src="/static/js/slideshow.js"></script>
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}
	</script>

{% endblock body%}




